<div class="container-all">

        <div class="ctn-form">
            <a href="/"><img src="/images/ingenio-languages.png" alt="img-logo" class="logo"></a>
            <h1 class="title">Bienvenido</h1>

            <form action="/data/userSignIn" method="post">
                    <div class="form-group-input log_in">
                        <label for="">Email</label>
                        <input type="text" name="email">
                    </div>
                    <div class="form-group-input log_in">
                        <label for="">Contraseña</label>
                        <input type="password" name="password">
                    </div>
                    <div class="form-center-button">
                        <input type="submit" value="Iniciar Sesión">
                    </div>
            </form>
            <span class="text-footer">or</span>
            <br>
            <div class="form-center-button">
                <a href="/google" class="btn-google">G Google</a>
            </div>
            <span class="text-footer">¿Ya te has registrado?
                <a href="/register">Registrarse</a>
            </span>
        </div>

        <div class="ctn-text">
            <div class="capa"></div>
            <h1 class="title-description">Lorem ipsum dolor sit amet.</h1>
            <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus dolore ea dicta molestias totam iusto perspiciatis iste obcaecati quod dolor, eaque qui asperiores? Molestias ad nemo placeat est quidem?</p>
        </div>

    </div>

